.contact {
    padding: 50px 0 21px 0;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer-left {
    margin-right: 58px;
}

.contact__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color,#FFFFFF);
    margin-bottom: 40px;
}

.contact__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-color,#FFFFFF);
    white-space: nowrap;
}

.contact__indent-location {
    margin-bottom: 36px;
}

.contact__indent-phone {
    margin-bottom: 11px;
    
}

.contact__list {
    margin-bottom: 40px;
}

.contact__icon {
    display: flex;
    gap: 26px;
}

.contact__icon-item:last-child {
    margin-right: 0;
}

.contact__icon-link {
    display: block;
    width: 50px;
    height: 50px;
}

.wrap-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
}

.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.footer-text:not(:last-child) {
    margin-bottom: 5px;
}

.footer-cite {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-self: flex-start;
}

.footer-blockquote {
    text-align: end;
}

.cite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact__size {
    width: 50px;
    height: 50px;
}

/* ////////////////////////////////////// */

.contact__element {
    position: relative;
}

.contact__img-location:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/location.svg'); 
    
} 

.contact__img-phone:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/phone-call.svg');
    
} 

.contact__img-convert:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/convert.svg');
    
}

.contact__item  {
    padding-left: 60px;
}

/* скрываю надписи на яндекс карте */
.ymaps-2-1-79-map-copyrights-promo {
    display: none;
}
/* кнопка svg инстаграм  */

.svg-inst-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-inst-link:hover {
    color:  #EADEED;
}

.svg-inst-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-inst-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-inst {
    fill: currentColor;
}

/* кнопка вк */

.svg-vk-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-vk-link:hover {
    color:  #EADEED;
}

.svg-vk-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-vk-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-vk {
    fill: currentColor;
}

/* кнопка фейсбук */
.svg-fb-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-fb-link:hover {
    color:  #EADEED;
}

.svg-fb-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-fb-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-fb {
    fill: currentColor;
}

/* кнопка телеграм  */

.svg-tg-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-tg-link:hover {
    color:  #EADEED;
}

.svg-tg-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-tg-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-tg {
    fill: currentColor;
}

/* ссылки состояния */

.contact__link {
    transition: color 0.200s ease-in;
}

.contact__link:hover {
    color: #6C0287;
}

.contact__link:active {
    color: var( --pink, #CD06FF);
}

.footer-link {
    transition: color 0.200s ease-in;
}

.footer-link:hover {
    color: #6C0287;
}

.footer-link:active {
    color: var( --pink, #CD06FF);
}

/* адаптивы  */

@media(max-width: 1130px) {
    .contact {
        padding: 35px 0 19px 0;
    }

    .contact__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
    }

    .contact__indent-location {
        margin-bottom: 40px;
    }

    .contact__indent-phone {
        margin-bottom: 7px;
    }

    .contact__size {
        width: 40px;
        height: 40px;
    }

    .footer-maps {
        max-width: 542px;
        height: 274px;
    }

    .footer-left {
        margin-right: 0;
    }

    .wrap-cart {
        margin-bottom: 92px;
    }

    .contact__item {
        padding-left: 39px;
    }

    .contact__img-location:before {
        width: 26px;
        height: 26px;
    }

    .contact__img-phone:before {
        width: 26px;
        height: 26px;
    } 

    .contact__img-convert:before {
        width: 26px;
        height: 26px;
    }
}

@media(max-width: 920px) {
    .contact {
        padding: 30px 0 18px 0;
    }

    .contact__title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .contact__indent-location,
    .contact__indent-phone {
        margin-bottom: 0; 
    } 

    .contact__list {
        gap: 27px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__list {
        margin-bottom: 27px;
    }

    .wrap-cart {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        margin-bottom: 30px;
    }

    .footer-right {
        justify-content: center;
    }

    .footer-maps {
        max-width: 688px;
        height: 337px;
    }

    .wrap-cart {
        margin-bottom: 75px;
    }

    .contact__img-location:before {
        top: 0px;
        left: 13px;
        width: 26px;
        height: 26px;
    } 
    
    .contact__img-phone:before {
        top: 0;
        left: 12px;
        width: 26px;
        height: 26px;
    }

    .contact__img-convert:before {
        top: 4px;
        left: 12px;
        width: 26px;
        height: 26px;
    }

    .contact__item {
        padding-left: 0;
    }

    .contact__link {
        padding-left: 50px;
    }

    .contact__icon {
        justify-content: center;
    }
}

@media(max-width: 440px) {
    .contact {
        padding: 15px 0 24px 0;
    }

    .contact__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .contact__link {
        font-size: 14px;
        line-height: 18px;
    }

    .contact__list {
        gap: 10px;
        margin-bottom: 10px;
    }

    .contact__size {
        width: 30px;
        height: 30px;
    }

    .contact__icon {
        gap: 0;
        text-align: center;
        height: 30px;
    }

    .footer-maps {
        max-width: 280px;
        height: 194px;
    } 

    .wrap-cart {
        margin-bottom: 63px;
    }

    .footer-left {
        margin-bottom: 35px;
    }

    .footer-cite,
    .footer-text,
    .footer-text {
        font-size: 12px;
        line-height: 16px;
    }

    .contact__icon-link {
        height: inherit;
    }

    .cite {
        flex-direction: column;
    }

    .footer-blockquote {
        text-align: center;
    }

    .cite-block {
        margin-bottom: 19px;
    }

    .contact__img-location:before {
        top: 2px;
        left: 0px;
        width: 20px;
        height: 20px;
    }  

    .contact__img-phone:before {
        top: 3px;
        left: 4px;
        width: 20px;
        height: 20px;
    } 

    .contact__img-convert:before {
        top: 5px;
        left: 4px;
        width: 20px;
        height: 20px;
    }   
    
    .contact__link {
        padding-left: 30px;
    }

}