.contact {
    padding-top: 25px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contact-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 55px 30px 20px;
}

.contact__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color,#FFFFFF);
    margin-bottom: 54px;
}

.contact__item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding-left: 60px;
}

.contact__element {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-color,#FFFFFF);
}

.contact__img-location {
    background-image: url('../img/location.svg'); 
}

.contact__img-phone {
    background-image: url('../img/phone-call.svg');
}

.contact__img-convert {
    background-image: url('../img/convert.svg');
}

.contact__indent-location {
    margin-bottom: 36px;
}

.contact__indent-phone {
    margin-bottom: 11px;
    
}

.contact__indent-convert {
    margin-bottom: 40px;
}

.contact__icon-item {
    display: inline-block;
    margin-right: 26px ;
}

.contact__icon-item:last-child {
    margin-right: 0;
}

.contact__icon-link {
    display: block;
    width: 50px;
    height: 50px;
}

.wrap-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 146px;
}

.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.footer-text:not(:last-child) {
    margin-bottom: 5px;
}

.footer-cite {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-self: flex-start;
}

.footer-blockquote {
    text-align: end;
}

.cite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* кнопка svg инстаграм  */

.svg-inst-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-inst-link:hover {
    color:  #EADEED;
}

.svg-inst-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-inst-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-inst {
    fill: currentColor;
}

/* кнопка вк */

.svg-vk-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-vk-link:hover {
    color:  #EADEED;
}

.svg-vk-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-vk-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-vk {
    fill: currentColor;
}

/* кнопка фейсбук */
.svg-fb-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-fb-link:hover {
    color:  #EADEED;
}

.svg-fb-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-fb-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}


.contact__svg-fb {
    fill: currentColor;
}

/* кнопка телеграм  */

.svg-tg-link {
    color: var(--main-color,#FFFFFF);
    outline: 0;
    transition: 0.200s ease-in;
}

.svg-tg-link:hover {
    color:  #EADEED;
}

.svg-tg-link:focus {
    outline: 1px solid var( --pink, #CD06FF);
    color:  #EADEED;
}

.svg-tg-link:active {
    color:  var( --pink, #CD06FF);
    outline: 0;
}

.contact__svg-tg {
    fill: currentColor;
}
