
html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background: #1B1A1B;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, p, figure,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: transparent; 
}

blockquote {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

section {
    padding: 50px 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}
/* ........................... */

a:hover {
    background: #840AA3;
    color: #FFFFFF;

}

a:focus {

}

a:active {

}

button:hover {
    background: #840AA3;
    color: #FFFFFF;
}

.reservation__label:hover {
    background: #EADEED;
    color: #000000;
    border: 3px solid #640AA3;
}

.wrapper__img:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    
}

.questions__item:hover:nth-child(odd) {
    /* background: #6C0287; */
}

.contact__icon-link:hover {
    background-color: #EADEED;
    /* background: transparent; */
    /* opacity: 0.7;
     */
    
}

button:focus, input:focus {

}

button:active {

}


/* focus */

input:focus {
    background: #FFFFFF;
    border: 2px solid #CD06FF;
    
}

label:focus {
    background: #FFFFFF;
    border: 2px solid #CD06FF;
    
}

.wrapper__img:focus {
    
    border: 2px solid #CD06FF;
}

.header__btn:focus {
    background: #6C0287;
    border-radius: 10px;
    color: #FFFFFF;
}

.wrapper__button:focus {
    background: #840AA3;
    border-radius: 10px;
    color: #FFFFFF;
}


.reservation__btn:hover {
    background: #840AA3;
    border-radius: 10px;
    color: #FFFFFF;
}

a:focus {

}

button:focus {

}

.reservation__label:focus {
    background: #FFFFFF;
    border: 3px solid #640AA3;
    color: #000000;
}

.wrapper__img:focus {

}

.contact__icon-link:focus {
    border: 1px solid #CD06FF;
}

/* input:active {
    background: #FFFFFF;
    border: 2px solid #CD06FF;
    
} */



/* ................. */
/* active */


.header__btn:active {
    background: #640AA3;
    border-radius: 10px;
    color: #FFFFFF;
}

.wrapper__button:active {
    background: #640AA3;
    border-radius: 10px;
    color: #FFFFFF;
}

.reservation__btn:active {
    background: #640AA3;
    border-radius: 10px;
    color: #FFFFFF;
}

.reservation__label:active {
    background: #EADEED;
    border-radius: 8px;
    color: #000000;
}

.contact__icon-link:active {
    background: #CD06FF;
}

.wrapper__img:active {
    background: #CD06FF;
    border-radius: 50%;
}