.container-hall {
    height: 814px;
}

.hall__subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color,#FFFFFF);
    margin-bottom: 40px;
}

.hall__list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 20px;
}

.hall__item {
    width: 580px;
    height: 349px;
    display: flex;
}

.hall__text {
    width: 252px;
    height: 160px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--main-color,#FFFFFF);
    margin: auto;
} 

.hall__item {
    transition:  2s ease;
}

.hall__item:hover {
    transform: scale(1.1);
}

.hall__vibes-img {
    background-image: url('../img/vibes-80.jpg');
}

.hall__star-wars-img {
    background-image: url('../img/star-wars.jpg');
    
}

.hall__wild-west-img {
    background-image: url('../img/wild-west.jpg');
}

.hall__neon-style-img {
    background-image: url('../img/neon-style.jpg');
}
