.header {
    padding: 30px 0 25px 0 ;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button-menu {
    display: none;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.header__logo-figure {
    display: flex;
    align-self: center;
}

.header__logo {
    margin-right: 96px;
}

.header__list {
    display: flex;
    gap: 40px;
    margin-right: 97px;
    align-items: center;
}

.header__link {
    white-space: nowrap;
}

.header__item {
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    
}

.header__btn {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: var(--main-color,#FFFFFF);
    text-transform: uppercase;
    background-color: var(--main-background,#1B1A1B);
    border: 3px solid #6C0287;
    border-radius: 10px;
    padding: 10px 30px;
    transition: all 0.200s ease;
}

.header__button-menu {
    border: transparent;
    background: transparent;
} 

.header__btn-container {
    display: flex;
    align-items: center;
}

.header__menu-btn-close {
    display: none;
    background: transparent;
    border: transparent;
}

.header__btn-wrapper {
    display: none;
    z-index: 800;
}

.header__btn-dubl { 
    display: none;
}

.header__btn:focus {
    background: #6C0287;
    border-radius: 10px;
    color: var(--main-color,#FFFFFF);
}

.header__btn:active {
    background: var(--violet-dark, #640AA3);
    border-radius: 10px;
    color: var(--main-color,#FFFFFF);
    transform: scale(0.9);
}

.wrapper__button:focus {
    background: var( --violet, #840AA3);
    border-radius: 10px;
    color: var(--main-color,#FFFFFF);
}

.wrapper__button:active {
    background: var(--violet-dark, #640AA3);
    border-radius: 10px;
    color: var(--main-color,#FFFFFF);
}

/* ссылки навигации  */

.header__link {
    transition: all 0.200s ease-in;
}

.header__link:hover {
    color: #6C0287;
}

.header__link:active {
    color: var( --pink, #CD06FF);
} 

/* состояния на кнопки бургер и закрыть */
.header__button-menu,
.header__menu-btn-close  {
    color: #6C0287;
    border: none;
	background-color: transparent;
    transition: all 0.200s ease-in;
}

.header__button-menu:hover,
.header__menu-btn-close:hover {
    color: var(--pink, #CD06FF);
    background-color: transparent;
}

.header__button-menu:focus,
.header__menu-btn-close:focus  {
    border: 1px solid var(--pink, #CD06FF);
}

.header__button-menu:active,
.header__menu-btn-close:active {
    color:  var(--violet, #840AA3);
}

.header__menu-burger,
.header__menu-btn-close-img {
    fill: currentColor;
}

/* адаптивы */

@media (max-width: 1240px) {
    
    .header__list {
        gap: 30px;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__list {
        margin-right: 90px;
    }
}

@media (max-width: 1190px) {
    .header__list {
        gap: 25px;
    }

    .header__logo {
        margin-right: 83px;
    }

    .header__list {
        margin-right: 83px;
    }

    .header-item {
        font-size: 20px;
        line-height: 30px;
    }

    .header-btn {
        padding: 10px 26px;
        font-size: 18px;
        line-height: 24px;
    }

}

@media (max-width: 1160px) {
    .header {
        padding: 30px 0 15px 0 ;
    }
    
    .header__logo {
        width: 87px;
        height: 55px;
        margin-right: 0;
    }

    .header__list {
        gap: 40px;
        margin-right: 0;
    }

    .header__item {
        font-size: 18px;
        line-height: 22px;
    } 

    .header__btn {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 940px) {
    
    .header__list {
        gap: 20px;
    }

    .header__item {
        font-size: 16px;
        line-height: 20px;
    } 

} 

@media (min-width: 799px) {
    .header__wrapper-navigat {
        display: block !important;
    }
}

@media (max-width: 800px ) {
    .header {
        padding: 33px 0 15px 0 ;
    }

    .container-header {
        flex-wrap: wrap;
        position: relative;
    }

    .header__wrapper-navigat {
        position: absolute;
        top: 70px;
        right: 0;
    }

    .header__nav {
        order: 1;
        width: 100%;
        justify-content: center;
        background-color: var(--main-background);
        display: none;
    }

    .header__list {
        flex-direction: column;
        padding: 39px 0;
        align-items: stretch;
        text-align: center;
    }

    .header__item {
        font-size: 22px;
        line-height: 22px;
    } 

    .header__button-menu {
        display: block;
        
    }

    .header__btn-wrapper {
        display: block;
        width: 55px;
    }
    
    .header__menu-btn-close {
        z-index: 800;
    } 

    /* состояние текста в навигации */
    .header__link {
        display: block;
        padding: 19px 0;
        transition: all 0.200s ease-in;
    }

    .header__link:hover  {
        background-color: #6C0287;
        color: var(--main-color, #FFFFFF);
        width: 100%;
    }

    .header__link:active {
        background-color: var(--pink, #CD06FF);
        width: 100%;
    } 

}

@media (max-width: 540px) {

    .header {
        padding: 20px 0 10px 0 ;
    }

    .header__logo {
        width: 66px;
        height: 42px;
    }

    .header__menu-burger {
        width: 39px;
        height: 20px;
    }

    .header__item {
        font-size: 14px;
        line-height: 22px;
    }

    .header__wrapper-navigat {
        top: 52px;
    }

    .header__link {
        padding: 13px 0;
    }

    .header__list {
        padding: 23px 0 23px 0;
    } 

    .header__wrapper-wrap {
        display: flex;
        align-items: center;
    }

    .header__btn {
        font-size: 14px;
        line-height: 14px;
        padding: 11px 23px 12px 23px;
    }

    .header__btn-container {
        display: none;
    } 

    .header__btn-dubl {
        display: block;
        text-align: center;
        margin-bottom: 27px;
    }

    .header__wrapper-navigat {
        flex-direction: column;
        align-items: center;
    }

    .header__menu-btn-close-img {
        width: 30px;
        height: 30px;
    }
}