.modal {
	display: none;
	position: relative;
}

.modal__overlay::before {
	content: '';
	background: rgba(27, 26, 27, 0.7);;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	z-index: 9999;
}

.modal__wrapper {
	position: fixed;
	top: calc(20% - 50px);
    left: calc(50% - 300px);
	z-index: 99999;
}

.modal__container {
	width: 600px;
}

.modal__wrapper {
	background-color: var(--main-violet, #440F51);
}

.modal__form {
	padding: 60px 0 80px 0;
}

.modal__close {
	position: absolute;
	top: 15px;
	right: 15px;
	border: transparent;
	background-color: transparent;
	color: var(--main-color);
	transition: all 0.200s ease-in;
}

.modal__close-img {
	fill: currentColor;
}

.modal__fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding-top: 40px;
}

.modal__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
}

.modal__lable {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 6px;
}

.modal__input {
	width: 280px;
	height: 52px;
}

.modal__block {
	display: flex;
	flex-direction: column;
	position: relative;
}

.modal__btn {
	color: #6C0287;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	padding: 16px 54px 16px 50px;
	border: transparent;
	background: var(--main-color, #FFFFFF);
	border-radius: 10px;
	text-transform: uppercase;
	box-shadow: 0 0 4px 2px var(--main-color, #FFFFFF);
}

.modal__container-button {
	display: flex;
	justify-content: center;
}

.modal__input {
	padding-left: 15px;
}

.just-validate-error-label {
	position: absolute;
	bottom: -20px;
	font-size: 16px;
}

/* состояние кнопки закрыть */
.modal__close:hover {
	color: var(--pink);
	background: transparent;
	transform: scale(0.9);
}

.modal__close:focus{
	border: 1px solid var(--pink);
}

.modal__close:active {
	color: var(--violet);
}

/* кнопка отправить модалки */
.modal__btn {
	transition: all 0.200s ease;
}

.modal__btn:active {
	transform: scale(0.9);
} 

/* адаптивы */ 

@media(max-width: 640px) {
	.modal__container {
		width: 430px;
	}

	.modal__wrapper {
		top: calc(20% - 50px);
		left: calc(50% - 215px);
	}
}

@media(max-width: 460px) {
	.modal__container {
		width: 280px;
	}

	.modal__form {
		padding: 60px 0 88px 0;
	}

	.modal__close-img {
		width: 30px;
		height: 30px;
	}

	.modal__close {
		top: 10px;
		right: 10px;
	}

	.modal__title {
		font-size: 20px;
	}

	.modal__input {
		width: 220px;
		height: 42px;
	} 

	.modal__fieldset {
		gap: 50px;
	}

	.modal__btn {
		font-size: 18px;
		line-height: 28px;
		padding: 12px 39px 12px 41px;
	}

	.modal__wrapper {
		top: calc(10% - 60px);
		left: calc(50% - 140px);
	}
}