.present-indent {
    padding-top: 25px;  
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper { 
    height: 860px; 
    position: relative;
    overflow: hidden;
} 

.wrapper::before {
    content: "";
    position: absolute;
    top: 200px;
    background-image: url('../img/game-over-blue.png');
    background-position: center top;
    background-repeat: repeat-y;
    width: 100%;
    height: 660px;
    z-index: -2;
}

.wrapper::after {
    content: "";
    background-image: url('../img/boy-game-over.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 675px;
    height: 762px;
    bottom: 0;
    right: 0;
    /* z-index: -1; */
}

.wrapper__title {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    font-size: 200px;
    line-height: 1;
    letter-spacing: -0.1em;
    z-index: -2;
}

.wrapper__text {
    margin-left: 211px;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 50px;
    
}

.wrap {
    display: flex;
    gap: 31px;
    align-items:flex-end; 
    margin-bottom: 170px;
}

.wrap__text-color {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    align-items: flex-end;
}

.wrap__four::before {
    content: "4";
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: #CD06FF;
    align-self: center;
}

.wrap__new::before {
    content: "NEW";
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    color: #CD06FF;
    align-items: flex-end;
}

.wrapper__button {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #6C0287;
    border-radius: 10px;
    padding: 25px 69px;
    border: transparent;
}

.wrapper__link {
    position: absolute;
    top: 680px;
    right: 545px;
    z-index: 3;
}
