.present-indent {
    padding: 5px 0 10px 0;  
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper { 
    height: 860px; 
    position: relative;
    overflow: hidden;
} 

.wrapper::before {
    content: "";
    position: absolute;
    top: 200px;
    background-image: url('../img/game-over-blue.png');
    background-position: center top;
    background-repeat: repeat-y;
    background-size: contain;
    width: 100%;
    height: 660px;
    z-index: -2;
}

.wrapper::after {
    content: "";
    background-size: contain;
    background-position: bottom;
    background-image: url('../img/boy-game-over.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 675px;
    height: 762px;
    bottom: 0;
    right: 0;
    /* z-index: -1; */
}

.wrapper__title {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    font-size: 200px;
    line-height: 1;
    letter-spacing: -0.1em;
    z-index: -2;
}

.wrapper__text {
    font-weight: 400;
    padding-left: 211px;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 30px;
    
}

.wrap {
    display: flex;
    flex-direction: column;
    max-width: 193px;
    /* margin-bottom: 170px; */
}

.wrap-power {
    display: flex;
    gap: 40px;
    align-items:flex-end;
    margin-bottom: 150px;
}

.wrap__text-color {
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    align-items: flex-end;
    z-index: 4;
}

.wrap__four {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: var(--pink,#CD06FF);
    align-self: center;
}

.wrap__new {
    font-weight: 900;
    font-size: 75px;
    line-height: 106px;
    color: var(--pink,#CD06FF);
}

.present__btn-cont {
    padding-left: 7px;
}

.wrapper__button {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--main-color,#FFFFFF);
    background: #6C0287;
    border-radius: 10px;
    padding: 25px 69px;
    border: transparent;
    box-shadow: 0 0 7px 2px #6C0287;
}

.wrapper__link {
    position: absolute;
    top: 680px;
    right: 545px;
    z-index: 3;
}

/* кнопка состояния */

.wrapper__hover {
    transition:   0.250s linear;
}

.wrapper__hover:hover {
    background: url('../img/wrapper-hover.svg');
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.wrapper__hover:focus {
    /* background: url('../img/wrapper-focus-pink.svg');
    background-repeat: no-repeat;  */
    outline: 1px solid var(--pink,#CD06FF);
    
}

.wrapper__hover:active {
    background: url('../img/wrapper-click.svg');
    background-repeat: no-repeat; 
    transform: scale(1);
}

/* адаптивы  */

@media(max-width: 1080px) {
    .present {
        padding: 15px 0 25px 0;
    }

    .wrapper__title-text-svg {
        height: 152px;
    }

    .wrapper__text {
        font-size: 22px;
        line-height: 30px;
    }

    .wrapper__text {
        padding-left: 160px;
    }

    .wrapper::before {
        height: 431px;
        background-image: url('../img/gamevoer-text-1024.svg');
    }

    .wrapper::after {
        width: 453px;
        height: 520px;
    } 

    .wrap__four {
        font-size: 80px;
        line-height: 113px;
    }

    .wrap__new {
        font-size: 60px;
        line-height: 85px;
    }

    .wrap__text-color {
        font-size: 26px;
        line-height: 30px;
    }

    .wrap {
        max-width: 168px;
    }

    .wrap-power {
        margin-bottom: 105px;
    }

    .wrapper__button {
        padding: 17px 48px;
        font-size: 22px;
        line-height: 30px;
    }

    .wrapper__img {
        width: 67px;
        height: 67px;
    }

    .wrapper {
        height: 583px;
    }

    .wrapper__link {
        top: 485px;
        right: 417px;
    }
}

@media(max-width: 868px) {
    .present {
        padding: 13px 0 25px 0;
    }

    .wrapper__title-text-svg {
        height: 116px;
    }

    .wrapper__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 50px;
    }

    .wrapper__text {
        padding-left: 95px;
    }

    .wrapper::after {
        width: 409px;
        height: 479px;
    }

    .wrap__four {
        font-size: 50px;
        line-height: 71px;
    }

    .wrap__new {
        font-size: 40px;
        line-height: 56px;
    }

    .wrap__text-color {
        font-size: 16px;
        line-height: 18px;
    }

    .wrap {
        max-width: 103px;
    }

    .wrap-power {
        gap: 30px;
        margin-bottom: 100px;
    }

    .wrapper__button {
        padding: 11px 35px 11px 34px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 4px;
    }

    .wrapper__link  {
        display: none;
    }

    .wrapper::before {
        height: 425px;
        background-image: url('../img/gameover-text-768.svg'); 
    }

    .wrapper {
        height: 541px;
    }
} 

@media(max-width: 650px) {
    .wrapper__title-text-svg {
        height: 80px;
    }

    .wrapper::after {
        width: 310px;
        height: 348px;
    }

    .wrapper {
        height: 387px;
    }

    .wrapper__text {
        padding-left: 15px;
        margin-bottom: 30px;
    }

    .wrapper__button {
        /* border-radius: 4px; */
        padding: 12px 20px 12px 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .wrap__four {
        font-size: 40px;
        line-height: 55px;
    }

    .wrap__new {
        font-size: 30px;
        line-height: 40px;
    }

    .wrap__text-color {
        font-size: 14px;
        line-height: 16px;
    }

    .wrap {
        text-align: center;
        max-width: 95px;
    }

    .wrap-power {
        gap: 20px;
        margin-bottom: 60px;
    }
}

@media(max-width: 490px) {
    .present {
        padding: 10px 0;
    }

    .wrapper__title-text-svg {
        height: 55px;
    }

    .wrapper__text {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .wrap__four {
        font-size: 26px;
        line-height: 37px;
    }

    .wrap__new {
        font-size: 22px;
        line-height: 31px;
    }

    .wrap__text-color {
        font-size: 10px;
        line-height: 11px;
    }

    .wrap {
        max-width: 65px;
    }

    .wrap-power {
        gap: 15px;
        margin-bottom: 30px;
    }

    .wrapper__button {
        padding: 8px 13px 7px 13px;
        font-size: 10px;
        line-height: 12px;
    }

    .wrapper::after {
        width: 161px;
        height: 179px;
    }

    .wrapper {
        height: 210px;
    }
}


/* @media (max-width: 1220px) {
    .wrapper__title {
        font-size: 190px;
        line-height: 100%;
        text-align: center;
    }

    .wrapper__text {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .wrapper::after,
    .wrapper::before{
        background-size: 100%;
    } 

} */

/* @media (max-width: 1160px) {
    .wrapper__title {
        font-size: 170px;
        line-height: 100%;
        text-align: center;
    }

    .wrapper__button {
        font-size: 24px;
        line-height: 26px;
        padding: 20px 56px;
    }

    .wrap__text-color {
        font-size: 25px;
        line-height: 28px;
    }

} */

/* @media (max-width: 1050px) {
    .present-indent {
        padding: 15px 0 25px 0;  
    }

    .wrapper__title {
        font-size: 152px;
    }

    .wrapper { 
        height: 100%; 
        
    } 

    .present__btn-cont {
        margin-bottom: 60px;
    }

    .wrapper__text {
        margin-bottom: 50px;
    }

    .present__btn-cont {
        padding-left: 39px;
       
    }

    .wrapper__text {
        font-size: 22px;
        line-height: 30px;
    }

    .wrapper::after {
        width: 453px;
        height: 520px; 
    }

    .wrap__text-color {
        font-size: 22px;
    }

    .wrap__four {
        font-size: 70px;
        line-height: 80px;
    }

    .wrap__new {
        
        font-size: 50px;
        line-height: 62px;
        
    }
    
    .wrap-power {
        margin-bottom: 100px;
        padding-left: 40px;
    }

    .wrap {
        flex-basis: 140px;
        text-align: center;
    } 

    .wrapper__img {
        width: 67px;
        height: 67px;
    }

    .wrapper__link {
        top: 469px;
        right: 425px;
    }
} */

/* @media (max-width: 960px) {
    .wrapper__title {
        font-size: 140px;
        line-height: 100%;
        
    }

    .wrapper__img {
        display: none;
    }

    
    .wrapper__button {
        font-size: 20px;
        line-height: 22px;
        padding: 15px 40px;
    }
} */

/* @media (max-width: 870px) {

    .present-indent {
        padding: 13px 0 27px 0;  
    }

    .container {
        padding: 0 15px;
    }

    .wrapper__title {
        font-size: 116px;
    }

    .wrapper__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 59px;
    }

    .wrap-power {
        margin-bottom: 118px;
    }
    
    .wrap {
        flex-basis: 88px;
    }

    .wrapper__button {
        font-size: 16px;
        line-height: 24px;
        padding: 11px 35px;
    }

    .wrapper::after {
        width: 409px;
        height: 479px;
    }

    .wrap__four {
        font-size: 55px;
        line-height: 60px;
    }

    .wrap__new {
        font-size: 40px;
        line-height: 50px;
    }

    .wrap__text-color {
        font-size: 18px;
    }
} */

/* @media (max-width: 700px) {
    .wrapper__title {
        font-size: 90px;
    }

    .wrapper__text {
        font-size: 15px;
        line-height: 18px;
        padding-left: 140px;
        margin-bottom: 40px;
    }

    .wrap-power {
        margin-bottom: 60px;
        padding-left: 0;
    }

    .wrapper__button {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 18px;
    }

    .wrapper::after {
        width: 320px;
        height: 380px;
    }

    .wrapper::before {
        background-image: url('../img/present-gameover-768.png');
        width: 100%;
    }
} */

/* @media (max-width: 600px) {
    .wrapper__title {
        font-size: 70px;
    }

    .wrapper__text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 30px;
        padding-left: 90px;
    }

    .wrap-power {
        margin-bottom: 40px;
    }



    .wrapper::after {
        width: 280px;
        height: 330px;
    }
} */

/* 
@media (max-width: 540px) {
  
    .wrap-power {
        margin-bottom: 29px;
    }
    
    .wrap {
        flex-basis: 50px;
       
    }

    .wrapper__button {
        font-size: 10px;
        line-height: 12px;
        padding: 7px 13px;
    }

    .wrapper::after {
       
        width: 260px;
        height: 280px;
        
    }

    .wrap__four {
        font-size: 22px;
        line-height: 30px;
    }

    .wrap__new {
        font-size: 20px;
        line-height: 30px;
    }

    .wrap__text-color {
        font-size: 12px;
        line-height: 18px;
       
    } 
} */

/* @media (max-width: 440px) {
    .present-indent {
        padding: 10px 0 10px 0;  
    }

     .wrapper__title {
        font-size: 46px;
    }

    .wrapper__text {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 21px;
        padding-left: 50px;
    }

    .wrap {
        flex-basis: 50px;
        height: 42px;
    }

    .wrapper::after {
        width: 161px;
        height: 179px;
        
    }

    .present__btn-cont {
        padding-left: 0;
       
    }

    
} */