.present-indent {
    padding-top: 25px;  
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper { 
    height: 860px; 
    position: relative;
    overflow: hidden;
} 

.wrapper::before {
    content: "";
    position: absolute;
    top: 200px;
    background-image: url('../img/game-over-blue.png');
    background-position: center top;
    background-repeat: repeat-y;
    width: 100%;
    height: 660px;
    z-index: -2;
}

.wrapper::after {
    content: "";
    background-image: url('../img/boy-game-over.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 675px;
    height: 762px;
    bottom: 0;
    right: 0;
    /* z-index: -1; */
}

.wrapper__title {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    font-size: 200px;
    line-height: 1;
    letter-spacing: -0.1em;
    z-index: -2;
}

.wrapper__text {
    padding-left: 211px;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 58px;
    
}

.wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
    /* margin-bottom: 170px; */
}

.wrap-power {
    display: flex;
    gap: 31px;
    align-items:flex-end;
    margin-bottom: 162px;
}

.wrap__text-color {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    align-items: flex-end;
    z-index: 4;
}

.wrap__four {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: var(--pink,#CD06FF);
    align-self: center;
}

.wrap__new {
    font-weight: 700;
    font-size: 80px;
    line-height: 92px;
    color: var(--pink,#CD06FF);
}

.wrapper__button {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--main-color,#FFFFFF);
    background: #6C0287;
    border-radius: 10px;
    padding: 25px 69px;
    border: transparent;
}

.wrapper__link {
    position: absolute;
    top: 680px;
    right: 545px;
    z-index: 3;
}

/* кнопка состояния */

.wrapper__hover {
    transition:   0.250s linear;
}

.wrapper__hover:hover {
    background: url('../img/wrapper-hover.svg');
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.wrapper__hover:focus {
    /* background: url('../img/wrapper-focus-pink.svg');
    background-repeat: no-repeat;  */
    outline: 1px solid var(--pink,#CD06FF);
    
}

.wrapper__hover:active {
    background: url('../img/wrapper-click.svg');
    background-repeat: no-repeat; 
    transform: scale(1);
}

/* адаптивы  */

@media (max-width: 1220px) {
    .wrapper__title {
        font-size: 190px;
        line-height: 100%;
        text-align: center;
        
    }

    .wrapper__text {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .wrapper::after,
    .wrapper::before{
        background-size: 100%;
    } 

   
}

@media (max-width: 1160px) {
    .wrapper__title {
        font-size: 170px;
        line-height: 100%;
        text-align: center;
    }

   

    .wrapper__button {
        font-size: 24px;
        line-height: 26px;
        padding: 20px 56px;
    }

    .wrap__text-color {
        font-size: 25px;
        line-height: 28px;
    }

}

@media (max-width: 1050px) {
    .wrapper__title {
        font-size: 152px;
    }

    .wrapper { 
        height: 100%; 
        
    } 

    .present__btn-cont {
        margin-bottom: 60px;
    }

    .wrapper__text {
        margin-bottom: 50px;
    }

    .present__btn-cont {
        padding-left: 39px;
        /* margin-bottom: 40px; */
    }

    .wrapper__text {
        font-size: 22px;
        line-height: 30px;
    }

    .wrapper::after {
         /* background-image: url('../img/present-man-vr-1024.png'); */
        width: 453px;
        height: 520px; 
       
      
      
    }

    .wrap__text-color {
        font-size: 22px;
    }

    .wrap__four {
        font-size: 70px;
        line-height: 80px;
    }

    .wrap__new {
        
        font-size: 50px;
        line-height: 62px;
        
    }
    
    .wrapper {
       /* height: 583px; */
    } 

    .wrapper::before {
        /* background-image: url('../img/present-gameover-1024.png');
         */
    }

    .wrap-power {
        margin-bottom: 100px;
        padding-left: 40px;
    }

    .wrap {
        /* margin-bottom: 100px; */
        flex-basis: 140px;
        text-align: center;
    } 

    .wrapper__img {
        width: 67px;
        height: 67px;
    }

    .wrapper__link {
        
        top: 469px;
        right: 425px;
        
        
    }
}

@media (max-width: 960px) {
    .wrapper__title {
        font-size: 140px;
        /* line-height: 100%; */
        
    }

    .wrapper__img {
        display: none;
    }

    
    .wrapper__button {
        font-size: 20px;
        line-height: 22px;
        padding: 15px 40px;
    }
}

@media (max-width: 870px) {

    .container {
        padding: 0 15px;
    }

    .wrapper__title {
        font-size: 116px;
    }

    .wrapper__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 59px;
    }

    .wrap-power {
        margin-bottom: 118px;
    }
    
    .wrap {
        flex-basis: 88px;
    }

    .wrapper__button {
        font-size: 16px;
        line-height: 24px;
        padding: 11px 35px;
    }

    .wrapper::after {
        width: 409px;
        height: 479px;
    }

    .wrap__four {
        font-size: 55px;
        line-height: 60px;
    }

    .wrap__new {
        font-size: 40px;
        line-height: 50px;
    }

    .wrap__text-color {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .wrapper__title {
        font-size: 90px;
    }

    .wrapper__text {
        font-size: 15px;
        line-height: 18px;
        padding-left: 140px;
        margin-bottom: 40px;
    }

    .wrap-power {
        margin-bottom: 60px;
        padding-left: 0;
    }

    .wrapper__button {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 18px;
    }

    .wrapper::after {
        width: 320px;
        height: 380px;
    }

    .wrapper::before {
        background-image: url('../img/present-gameover-768.png');
        width: 100%;
    }
}

@media (max-width: 600px) {
    .wrapper__title {
        font-size: 70px;
    }

    .wrapper__text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 30px;
        padding-left: 90px;
    }

    .wrap-power {
        margin-bottom: 40px;
    }

    /* .wrapper__button {
        font-size: 12px;
        line-height: 16px;
        padding: 9px 12px;
    } */

    .wrapper::after {
        width: 280px;
        height: 330px;
    }
}

@media (max-width: 540px) {
    
    /* .wrapper__title {
        font-size: 46px;
    } */

    /* .wrapper__text {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 21px;
    } */

    .wrap-power {
        margin-bottom: 29px;
    }
    
    .wrap {
        flex-basis: 50px;
        /* height: 42px; */
    }

    .wrapper__button {
        font-size: 10px;
        line-height: 12px;
        padding: 7px 13px;
    }

    .wrapper::after {
        /* width: 161px;
        height: 179px; */
        width: 260px;
        height: 280px;
        
    }

    .wrap__four {
        font-size: 22px;
        line-height: 30px;
    }

    .wrap__new {
        font-size: 20px;
        line-height: 30px;
    }

    .wrap__text-color {
        font-size: 12px;
        line-height: 18px;
        /* height: 42px; */
    } 
}

@media (max-width: 440px) {
     .wrapper__title {
        font-size: 46px;
    }

    .wrapper__text {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 21px;
        padding-left: 50px;
    }

    .wrap {
        flex-basis: 50px;
        height: 42px;
    }

    .wrapper::after {
        width: 161px;
        height: 179px;
        
    }

    .present__btn-cont {
        padding-left: 0;
       
    }

    .wrapper::before {
        /* width: 100%;
        background-image: url('../img/present-gameover320.png'); */
    }
}