.container-questions {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

.questions__subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.questions__list {
    cursor: pointer;
}

.questions__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    padding: 30px 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.questions__text {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 57px 70px 100px 69px;
    background: #FFFFFF;
}

.questions__number {
    white-space: nowrap;
}

/*------------------------------------*/
.questions__item:nth-child(odd) {
    background: var(--main-color,#FFFFFF);
    color: #1C1A1A;
} 

.questions__item:nth-child(even) {
    color: var(--main-color,#FFFFFF);
    background: var(--main-violet, #440F51);
}
/* задал через псевдоэлемент цвета на четные и нечетные - аккардеон 
цвета задал на сам li*/

/*задал на аккардеон плюсы белый и фиолетовый - через псевдоэлемент*/
.acc-icon {
    flex: 0 1 46px;
    display: block;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: contain;
}

.questions__item:nth-child(odd) .acc-icon {
    background-image: url("../img/plus-violet.svg");
    
}

.questions__item:nth-child(even) .acc-icon {
    background-image: url("../img/plus-white.svg");
    
}
/*задал на аккардеон плюсы белый и фиолетовый - конец*/

/* меняем плюсы на минусы при нажатии */
.questions__item:nth-child(odd) .acc-icon_active {
    background-image: url("../img/active-minus-violet.svg");
    
}

.questions__item:nth-child(even) .acc-icon_active {
    background-image: url("../img/active-minus-white.svg");
    
}
/* меняем плюсы на минусы при нажатии */

/* hover при наведении на четные и нечетные */
.questions__item:nth-child(odd):hover .acc-icon {
    background-image: url("../img/plus-violet-hover.svg");
    
}

.questions__item:nth-child(even):hover .acc-icon {
    background-image: url("../img/plus-white-hover.svg");
    
}

/*-------------------------------------*/

.questions__item:not(:last-child) {
    margin-bottom: 20px;
}

.questions__title {
    transition: all 0.200s linear; 
}

/* адаптивы */

@media (max-width: 1024px) {
    .questions {
        padding: 35px 0;
    }

    .questions__subtitle {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
    }

    .questions__title-spn, 
    .questions__text {
        font-size: 20px;
        line-height: 24px;
        color: #1C1A1A;
    }

    .questions__item .questions__title {
        background-color: var(--main-color);
    } 

    .questions__item-none {
        display: none;
    }

    .questions__item:not(:last-child) {
        margin-bottom: 0;
    }

    .questions__list {
        flex-direction: column;
        display: flex;
        gap: 16px;
    }

    .questions__title {
        padding: 23px 20px 23px 25px;
    } 
    
    .questions__text {
        padding: 47px 60px 80px 25px;
    }
    
    .questions__item:nth-child(-n+4) .acc-icon {
        background-image: url("../img/plus-violet-1024.svg");
    }

    .questions__item:nth-child(-n+4) .acc-icon_active {
        background-image: url("../img/active-minus-violet.svg");
    }

    .questions__item:nth-child(-n+4):hover .acc-icon {
        background-image: url("../img/plus-violet-hover.svg");
    }
    
}

@media(max-width: 768px) {
    .questions {
        padding: 30px 0;
    }

    .questions__subtitle {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .questions__title-spn,
    .questions__text {
        font-size: 18px;
        line-height: 24px;
    }

    .questions__title {
        padding: 23px 65px 23px 54px;
    } 

    .questions__text {
        padding: 23px 70px 26px 54px;
    }

}

@media(max-width: 600px) {
    .questions {
        padding: 15px 0;
    }

    .questions__subtitle {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .questions__title-spn,
    .questions__text {
        font-size: 12px;
        line-height: 16px;
        /* height: 32px; */
    }

    .questions__title {
        padding: 7px 43px 7px 10px;
    } 

    .questions__text {
        padding: 15px 43px 20px 10px;
    }

    .acc-icon {
        flex: 0 1 30px;
        width: 30px;
        height: 30px;
    }

}

@media(max-width: 380px) {
    .questions__title {
        padding: 7px 13px 7px 10px;
    }

    .questions__title-spn {
        width: 239px;
    }
}


