/* .rest {
    padding-top: 10px;
} */

.container-rest {
    /* height: 639px; */
}

.rest__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.rest__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    align-self: flex-end;
    padding-left: 40px;
    padding-bottom: 5px;
}

.text {
    padding-bottom: 20px;
}

.rest__list {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 20px; */

    /* display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 0 20px; */
}


.rest__item {
    width: 380px;
    height: 228px;
    display: flex;
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.rest__item {
    /* background-size: cover; */
    background-repeat: no-repeat;
    transition:  2s ease;
}

.rest__item:hover  {
    transform: scale(1.1);
    
}

.rest__vr {
    background-image: url('../img/rest__vr.jpg');
}

.rest__audio {
    margin-top: 40px;
    background-image: url('../img/rest__audio.jpg');
}

.rest__karaoke {
    background-image: url('../img/rest__girl.jpg');
}

.rest__game {
    background-image: url('../img/rest__game.jpg');
}
.rest__monitor {
    margin-top: 40px;
    background-image: url('../img/rest__monitor.jpg');
}

.rest__ps {
    background-image: url('../img/rest__ps5.jpg');
}
/* /////////////////////////////////// */

.rest__block {
    /* width: 100%; */
}

.rest__two-wrap-item {
    display: flex;
    gap: 0 20px; 
    width: 100%;
    
}

/* .rest__two-wrap-item, */
.rest__one-wrap-item {
    
    display: flex;
    gap: 0 20px; 
     width: 100%;
    
}


/* адаптивы */



@media (max-width: 1024px) {
    .rest {
        padding: 42px 0 35px 0;
    }
    

    .rest__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 36px;
    }


    .rest__item {
        width: 287px;
        height: 172px;
        
    
    }

    .rest__audio,
    .rest__monitor {
        margin-top: 30px;
    }

    .rest__text {
        padding-left: 20px;
    }

    .rest__item {
        background-size: cover; 
        
    }

    .rest__two-wrap-item,
    .rest__one-wrap-item {
        /* width: 904px; */
        justify-content: center;
    }

    .rest__list {
        /* width: 904px; */
        /* justify-content: space-between; */
    }

}

@media (max-width: 768px) {

    .rest {
        padding: 40px 0 30px 0;
    }
    
    .container {
        padding: 0 15px;
    }
    .rest__title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .rest__list {
        
        display: flex; 
        /* flex-direction: column;  */
        /* flex-wrap: wrap; */
    }

    .rest__one-wrap-item,
    .rest__two-wrap-item {

        width: 100%;
        gap: 20px 20px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .rest__one-wrap-item {

    }

    .rest__audio,
    .rest__monitor {
        margin-top: 0;
    }

    .rest__item {
        width: 334px;
        height: 200px;
        flex-shrink: 1;
    
    }
}

@media (max-width: 700px) {
    
    .rest__item {
        width: 270px;
        height: 190px;
        flex-shrink: 1;
    
    }

    .rest__text {
        font-size: 14px;
        line-height: 20px;
    }

    .rest__one-wrap-item,
    .rest__two-wrap-item {
        
        gap: 10px 10px;
        justify-content: center;
        
    }

    /* .rest__vr {
        order: 0;
    }

    .rest__audio {
        order: 0;
    }

    .rest__karaoke {
        order: 0;
    }

    .rest__game {
        order: 0;
    }

    .rest__monitor {
        order: 0;
    }

    .rest__ps {
        order: 0;
    } */

}

@media (max-width: 568px) {
    .rest__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .rest__item {
        width: 230px;
        height: 160px;
        
    }

    .rest__text {
        /* padding: 0 10px; */
        font-size: 10px;
        line-height: 14px;
        /* align-self: flex-end; */
    }
}

@media (max-width: 490px) {
    .rest {
        padding: 23px 0 15px 0;
    }

    .rest__item {
        width: 135px;
        height: 75px;
        
    }
    .rest__text {
        padding: 30px 10px;
        align-self: center;
    }

    .rest__list {
        gap: 10px;;
        
    }

    .rest__one-wrap-item {
        align-items: flex-end;
    }

    .rest__two-wrap-item {
        align-items: flex-start;
    }
}

